:root {
  --white: #ffffff;
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --cloud: #f4f4fd;
  --slate: #434455;
  --cornflower: #e7e9fc;
  --navyblue: #2e2f42;
  --green: #31d0aa;
  --lightslate: #8e8f99;
  --dairy: #fcfcfc;
}

body {
  font-family: "Roboto", sans-serif;
  background: #fff;
  color: var(--slate);
  max-width: 1440px;
  height: 3451px;
  margin: 0 auto;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Header */
.container {
  max-width: 1440px;
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px 0 15px;
}
.header-main {
  border-bottom: 1px solid var(--cornflower);
}

.page-nav {
  display: flex;
}

.nav-logo {
  display: flex;
  align-items: center;
}

.main-logo {
  color: var(--iris);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 76px;
}
.web-logo {
  color: var(--navyblue);
}

/* Navigations */
.main-spisok {
  display: flex;
  gap: 40px;
}
.spisok-item {
  padding: 24px 0;
}
.main-spisok a {
  color: var(--navyblue);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: inline-block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-spisok a:hover,
.main-spisok a:focus {
  color: var(--ocean);
}
.current:hover::after {
  border-bottom: 4px solid var(--ocean);
  border-radius: 2px;
  content: "";
  display: block;
  position: relative;
  top: 20px;
}

/* Contacts */

.main-contacts {
  font-style: normal;
}
.main-contacts ul {
  display: flex;
  gap: 40px;
  padding-left: 257px;
  padding-top: 24px;
}

.contacts a {
  color: var(--slate);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts a:hover,
.contacts a:focus {
  color: var(--ocean);
}

/* Main page */
.main-content {
  background-color: var(--navyblue);
  height: 600px;
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}
.main-title {
  max-width: 496px;
  color: var(--white);
  text-align: center;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  margin: 0 auto;
}

/* Button order-service */
.order-service {
  display: block;
  cursor: pointer;
  text-align: center;
  color: var(--white);
  background-color: var(--iris);
  min-width: 169px;
  height: 56px;
  border: none;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  margin-left: auto;
  margin-right: auto;
  margin-top: 48px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.order-service:hover,
.order-service:focus {
  color: var(--white);
  background-color: var(--ocean);
}

/* Section2 */
.section-two {
  padding-top: 120px;
  padding-bottom: 120px;
}
.list-container {
  display: flex;
  gap: 24px;
}
.sect-two-item {
  width: calc((100% - 72px) / 4);
}
.title-sect-two {
  color: var(--navyblue);
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.sect-two-subtitle {
  color: var(--navyblue);
  font-size: 20px;
  text-align: left;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  margin-top: 8px;
}
.sect-two-parag {
  color: var(--slate);
  width: 264px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}
.sect-two-item .icon {
  background-color: var(--cloud);
  width: 264px;
  height: 112px;
  padding: 24px 100px;
}

/*  Section 3*/
.section-three {
  padding-bottom: 120px;
}
.title-sect-doing {
  color: var(--navyblue);
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
  text-align: center;

  margin-bottom: 72px;
}
.list {
  list-style: none;
}
.list-doing {
  display: flex;
  gap: 24px;
  flex-direction: row;
  justify-content: center;
}
.list-item {
  width: calc((100% - 48px) / 3);
}

/* Our team */
.our-team {
  background-color: #f4f4fd;
  height: 732px;
  padding: 120px 0;
}
.foto {
  background-color: var(--white);
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.team-container {
  display: flex;
  gap: 24px;
}
.title-our-team {
  color: var(--navyblue);
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
}
.title-item {
  padding: 32px 16px;
}
.team-subtitle {
  color: var(--navyblue);
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}
.our-team-parag {
  color: var(--slate);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
.title-item .link {
  display: inline-flex;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: var(--iris);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.container-icons {
  display: flex;
  gap: 24px;
  margin-top: 8px;
}

.title-item .link:hover {
  background-color: var(--ocean);
}

/* Customers */
.customers-page {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: var(--white);
  margin: 0 auto;
}
.customers-title {
  color: var(--navyblue);
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
}
.customers-item .link {
  display: flex;
  justify-content: center;
  border-radius: 4px;
  border: 1px solid var(--lightslate);
  width: 168px;
  height: 88px;
  fill: var(--lightslate);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-item {
  display: flex;
  gap: 24px;
}

.customers-item .link:hover {
  border: 1px solid var(--ocean);
  fill: var(--ocean);
}

/* Footer */
.footer-container {
  padding: 100px 0 0 0;
  height: 312px;
  background: var(--navyblue);
}
.footsocial {
  display: flex;
  gap: 120px;
}
.link {
  text-decoration: none;
}

.footer-logo {
  display: inline-block;
  color: var(--iris);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  margin-bottom: 16px;
}
.footer-web-logo {
  color: var(--cloud);
}
.footer-text {
  width: 264px;
  color: var(--cloud);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
/* Media list */
.social-list {
  display: inline-block;
}
.footerlo {
  display: inline-block;
}
.social-media-title {
  color: var(--white);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.media-list {
  display: flex;
  gap: 16px;
  flex-shrink: 0;
  margin-top: 16px;
}
.media-list .link {
  display: flex;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--ocean);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.media-list .link:hover {
  background-color: var(--green);
}

/* Portfolio */

/* List of button  */
.section-portfolio {
  padding: 96px 0 120px 0;
}
.funct-container {
  display: flex;
  gap: 24px;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 72px;
}
.functional {
  cursor: pointer;
  background: var(--cloud);
  color: var(--iris);
  text-align: center;
  border: 1px solid var(--cornflower);
  border-style: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  border: 1px solid var(--cornflower);
  padding: 12px 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.functional:hover,
.functional:focus {
  color: var(--white);
  background: var(--ocean);
  border: 1px solid transparent;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.project-container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.portfolio-title {
  color: var(--white);
  text-align: center;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
}
.portfolio-subtitle {
  color: var(--navyblue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.portfolio-text {
  color: var(--slate);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.h-p {
  padding: 32px 16px;
  border: 1px solid var(--cornflower);
  border-top: none;
}

.card {
  width: calc((100% - 48px) / 3);
  background: var(--white);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.card-box {
  position: relative;
  width: 360px;
  height: 300px;
  margin: 0 auto;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  transform: translatey(100%);
  transition: transform 250ms ease-in-out;
}

.card-box:hover .overlay,
.card-bos:focus .overlay {
  transform: translatey(0);
}

.overlay p {
  color: var(--cloud);
  padding: 10px;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

/* Modal window */
.backdrop {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  height: 584px;
  border-radius: 4px;
  background: var(--dairy);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.main-content {
  position: relative;
}

.modal {
  position: relative;
}
.btn {
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--cornflower);
  display: flex;
  align-items: center;
  padding: 8px;
}
